<html>

<head>
  <link rel="stylesheet" href="/gis-cookbook/style.css" />
  <title>Cornell GIS Cookbook: {{page.title}}</title>
</head>

<body>
  <header>
    <h1><a href="/gis-cookbook">Cornell Library GIS Cookbook</a></h1>
  </header>
  <aside>
    {% if page.path contains 'arcmap' %}
      <img src="arcmap-logo.png" alt="" /> ArcMap
    {% elsif page.path contains 'qgis' %}
      <img src="qgis-logo.png" alt="" /> QGIS
    {% endif %}
  </aside>
  <main>{{ content }}</main>
  <footer><a href='https://github.com/kgjenkins/gis-cookbook/blob/master/{{ page.path }}'>page source</a></footer>
</body>

</html>

