<html>

<head>
  <link rel="stylesheet" href="/gis-cookbook/style.css" />
  <title>Cornell GIS Cookbook: {{page.title}}</title>
</head>

<body>
  <header>
    <h1><a href="/gis-cookbook">Cornell Library GIS Cookbook</a></h1>
  </header>
  <nav>
    {% if page.path contains 'arcmap' %}
      {% assign software = 'ArcMap' %}
    {% elsif page.path contains 'qgis' %}
      {% assign software = 'QGIS' %}
    {% endif %}
    {% if software %}
      {% assign lower = software | downcase %}
      <img src="{{lower}}-logo.png" alt="{{software}}" />
      <p>{{software}} recipes</p>
      <ul>
      {% for p in site.pages %}
        {% if p.path contains lower %}
          <li><a href="/gis-cookbook/{{p.path | remove: '.md'}}">{{p.title}}</a></li>
        {% endif %}
      {% endfor %}
      </ul>
    {% endif %}
  </nav>
  <main>{{ content }}</main>
  <footer><a href='https://github.com/kgjenkins/gis-cookbook/blob/master/{{ page.path }}'>page source</a></footer>
</body>

</html>

